<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869175738606-7821vn5t2ldkl1kf8gk4ahhec4a5qpnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869175738606-7821vn5t2ldkl1kf8gk4ahhec4a5qpnp</string>
	<key>API_KEY</key>
	<string>AIzaSyAIP_IV-cIYUxEdg7h5kXZMVXIjTAS6ndA</string>
	<key>GCM_SENDER_ID</key>
	<string>869175738606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sitetoapp</string>
	<key>PROJECT_ID</key>
	<string>webtoapp-f9f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>webtoapp-f9f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869175738606:ios:22ab2515c0c7553ca073ff</string>
</dict>
</plist>